name: Deploy to Container

on:
  push:
    branches: [ mainline ]
    paths-ignore:
    - '**.md'

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - uses: actions-rs/toolchain@v1
      with:
        toolchain: stable
        target: wasm32-unknown-unknown
        components: clippy, rustfmt
    - uses: jetli/trunk-action@v0.1.0
    - name: Cache registry
      uses: actions/cache@v1
      with:
        path: ~/.cargo/registry
        key: ${{ runner.os }}-cargo-registry-${{ hashFiles('**/Cargo.lock') }}
    - name: Cache index
      uses: actions/cache@v1
      with:
        path: ~/.cargo/git
        key: ${{ runner.os }}-cargo-git-index-${{ hashFiles('**/Cargo.lock') }}
    - name: Cache build artifacts
      uses: actions/cache@v1
      with:
        path: target
        key: ${{ runner.os }}-cargo-build-artifacts-${{ hashFiles('**/Cargo.lock') }}
    - name: Lint
      run: cargo fmt -- --check
    - name: Clippy
      run: cargo clippy -- -D warnings
    - name: Test
      run: cargo test
    - name: Build
      run: cargo build --release
    - name: Webpack
      run: trunk build --release ui/index.html
    - name: Upload server binary
      uses: actions/upload-artifact@v1
      with:
        name: release
        path: target/release/theyrefor-server
    - name: Upload WASM
      uses: actions/upload-artifact@v1
      with:
        name: dist
        path: ui/dist

  deploy:
    runs-on: self-hosted
    needs: build
    steps:
      - name: Download release binary
        uses: actions/download-artifact@v1
        with:
          name: release
      - name: Download WASM
        uses: actions/download-artifact@v1
        with:
          name: dist
      - name: Deploy
        run: cp -f release/theyrefor-server /home/soundboard/server/ && cp -r dist /home/soundboard/server && chmod +x /home/soundboard/server/theyrefor-server
      - name: Activate
        run: sudo systemctl restart theyrefor
